* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #202329;
}

body nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.1);
}

body nav img {
    width: 190px;
}

body nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

body nav a {
    color: lightgray;
    text-decoration: none;
    margin: 0 1.5rem;
    font-size: 1.1rem;
    transition: all 0.3s;
}

body nav a:hover {
    color: #FFF;
}

body nav .nav-button {
    color: #FFF;
    display: none;
}

body nav .close-button {
    color: #FFF;
    display: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem 14rem;
}

.container__home {
    height: 78vh;
}

.container__home .informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}  

.container__home .informations span {
    font-size: 1.8rem;
    font-weight: 300;
    color: #FFF;
}

.container__home .informations h1 {
    font-size: 3rem;
    color: #FFF;
    font-weight: 700;
}

.container__home .informations button {
    width: 50%;
    padding: 1rem 5rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid #08D0FF;
    color: #FFF;
    background-image: linear-gradient(to right, #47DDFF, #0038FF, #0038FF,#47DDFF);
    background-size: 300%;
    background-position: right;
    cursor: pointer;
    transition: all 0.8s;
}

.container__home .informations button:hover {
    background-position: left;
    width: 55%;
}

.container__home .banner {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__home .banner img {
    min-width: 580px;
    cursor: pointer;
}

@media screen and (max-width: 999px) {

    body nav {
        padding-top: 1rem;
    }

    body nav .nav-button {
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    body nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 8vh;
        width: 100%;
        height: 52vh;
        padding-top: 4rem;
        transform: translateX(100%);
        transition: all 0.5s;
    }

    body nav a {
        font-size: 1.6rem;
    }

    body nav .close-button {
        font-size: 2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}